.ContentContainer{
    padding: 80px 0 20px 0;

    .FilesContainer{
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
        border: 1px dashed #e0e0e0;
        border-radius: 5px;
        padding: 50px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    h1.Title{
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .Instructions{
        display: flex;
        align-items: flex-start;
        gap: 50px;
        background-color: rgba(#00ACEE, 0.1);
        padding: 40px;
        border-radius: 10px;
        margin-bottom: 20px;

        .Instructions_Image{
            width: 50px;

            img{
                margin-top: 10px;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .Instructions_Text{

            ul{
                list-style: initial;
                padding: 0;
                margin: 0;
                font-size: 16px;
                font-weight: 500;
                color: #19313E;
                margin-top: 10px;

                li{
                    margin-bottom: 10px;
                }
            }
        }

    }

    .Button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        cursor: pointer;
        background-color: #F5A92F;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        padding: 10px;
        transition: all 0.3s ease;
        margin-top: 30px;
        margin-bottom: 50px;


        &:hover{
            background-color: #19313E;
        }

        &:active{
            transform: scale(0.99);
        }
    }

    .ContactUs{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        cursor: pointer;
        background-color: #F2F4F5;
        border: none;
        border-radius: 5px;
        padding: 50px;
        transition: all 0.3s ease;
        margin-top: 30px;
        margin-bottom: 50px;

        & > button{
            background-color: #00ACEE;
            color: #ffffff;
            border: none;
            border-radius: 5px;
            padding: 10px 30px;
            transition: all 0.3s ease;
            margin-top: 30px;
            margin-bottom: 10px;
            font-weight: bold;
            max-width: 300px;

            &:hover{
                background-color: #F5A92F;
            }

            &:active{
                transform: scale(0.99);
            }
        }

        & > h2{
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 20px;
            text-align: left;
        }

        .ContactUs_Cards{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
        }
    }
}