
// DESCRIPTION
.DescriptionPart{
    background-color: #FFFFFF;
    margin-top: 20px;
    padding: 20px;

    h2{
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 30px;
        text-transform: uppercase;
    }

    input{
        width: 100%;
        height: 50px;
        padding: 10px;
        border: 1px solid #EBF5F8;
        border-radius: 5px;
        font-size: 15px;

        &:focus{
            outline: 1px solid #00ACEE;
        }
    }

    textarea{
        width: 100%;
        height: 200px;
        padding: 10px;
        border: 1px solid #EBF5F8;
        border-radius: 5px;
        font-size: 15px;

        &:focus{
            outline: 1px solid #00ACEE;
        }
    }

    span{
        font-size: 15px;
        color: #757575;
        margin-top: 10px;
        display: block;
        margin-left: auto;
    }
}
