.RealEstate {
    padding-top: 50px;

    &__Top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;
        margin-bottom: 2rem;

        h2 {
            position: relative;
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 1rem;
            color: rgba(243, 156, 18, 1);
            padding-left: 15px;

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: '';
                display: block;
                width: 6px;
                height: 100%;
                border-radius: 3px;
                background-color: rgba(243, 156, 18, 1);
                margin-bottom: 1rem;
            }
        }

        h2 + p {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 2rem;
            color: rgba(0, 0, 0, 0.7);
        }

        button{
            padding: 5px;
            transition: all 0.15s ease-in-out;

            &:hover{
                background: #efefef;
                color: #171717;
            }

            &:active{
                background: #dcdcdc;
                color: #171717;
                transform: scale(0.95);
            }

            span {
                font-size: 1.2rem;
                font-weight: 600;
                color: rgba(0, 172, 238, 1);
            }
        }

    }

    &__Container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;
        margin-bottom: 50px;
    }

    &__Bottom{
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
        margin-bottom: 20px;
        min-height: 300px;
        max-height: 300px;

    }
}