.FilterButton{
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-left: 20px;
    border-radius: 10px;
    width: 80px;
    height: 40px;
    transition: all 0.15s ease-in-out;
    color: #000;
    display: none;

    &:active{
        background-color: #0ea5e9;
        transform: scale(0.95);
    }

    @media screen and (max-width: 1200px){
        display: flex;
    }
}